

.header-top {
    background: $blue;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
}
.h-menu {
    ul {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 15px;
        li {
            padding-right: 40px;
            position: relative;
            &:last-child {
                padding-right: 0;
            }
            &:hover {
                ul {
                    opacity: 1;
                    top: 47px;
                    pointer-events: unset;
                }
            }
        }
        a {
            color: #fff;
            font-weight: 600;
            padding: 10px 0;
            display: inline-flex;
        }
        ul {
            display: block;
            background: #fff;
            font-weight: normal;
            font-size: 14px;
            position: absolute;
            top: 65px;
            left: 0;
            transition: .4s all !important;
            width: 200px;
            text-align: left;
            pointer-events: none;
            opacity: 0;
            li {
                padding: 0;
                border-bottom: 1px solid #ddd;
                &:last-child {
                    border-bottom: 0;
                }
            }
            a {
                color: #333333;
                text-transform: initial;
                font-weight: 500;
                display: flex;
                padding: 5px 10px;
            }
        }
    }
}

footer {
    padding: 40px 0;
    background: $blue;
    color: #fff;
}
.title-ft {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}
.box-mail {
    position: relative;
    input {
        width: 100%;
        height: 35px;
        font-size: 14px;
        padding: 0 10px;
        border: 0;
    }
    button {
        width: 45px;
        height: 35px;
        cursor: pointer;
        background: transparent;
        color: $blue;
        border: 0;
        top: 0;
        right: 0;
        position: absolute;
    }
}
.maps {
    display: flex;
    align-items: center;
    iframe {
        border: 0;
        width: 100%;
        height: 100px;
    }
}

main {
    margin-top: 74px;
}