
@media (max-width: 767px) {
	.header-top {display: none;}
	.header-mobile {
		display: block !important;
	    background: #1da1f2;
	    padding: 8px 0;
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 10;
	}
	.header-mobile .header a {
	    font-size: 21px;
	    color: #fff;
	}
	nav#menu {
	    z-index: 1001;
	    display: none;
	}

	nav#menu.mm-menu_opened {
	    display: block;
	}
	main {
	    margin-top: 58px;
	}
}

@media (max-width: 767px) {
	.box-slide ul.slick-dots {
	    bottom: 10px;
	}

	.slide-banner .item img {
	    height: 220px;
	    object-fit: cover;
	}

	.list-service .row .col-md-3 {
	    padding-top: 65px;
	}

	.list-service {
	    padding-top: 0;
	}

	.title h2 {
	    font-size: 20px;
	}

	.box-service .title {
	    margin-bottom: 0;
	}

	.item-numb .numb-hot {
	    font-size: 30px;
	}

	.item-numb h4 {
	    font-size: 14px;
	}
	.item-memb .avarta img {
	    width: 120px;
	}
	.title-ft {
	    margin-bottom: 10px;
	    font-size: 15px;
	}

	.footer-top .col-md-3 {
	    margin-bottom: 35px;
	}

	.footer-top .col-md-3:last-child {
	    margin-bottom: 0;
	}
}
@media (max-width: 575px){
	.item-numb {
	    height: 100%;
	    border: 1px solid #dbdbdb;
	    padding: 6px;
	}

	.list-number .col-md-3 {
	    padding: 7px;
	}

	.list-number .row {
	    margin: 0 -7px;
	}

	.item-numb .numb-hot {
	    font-size: 25px;
	    line-height: 1.5;
	}
}

@media (max-width: 767px) and (min-width: 576px) {
	.slide-new-home .item-slide {
	    padding: 0 7px;
	}

	.slide-new-home {
	    margin: 0 -7px;
	}
	.slide-banner .item img {
	    height: auto;
	}
	.item-memb h4 {
	    font-size: 16px;
	    margin-bottom: 5px;
	}

	.item-memb h6 {
	    font-size: 14px;
	}
	.item-news .info a {
	    font-size: 14px;
	}
}

@media (max-width: 1023px) and (min-width: 768px) {
	.h-menu ul a {
	    font-size: 14px;
	}

	.h-menu ul li {
	    padding: 0;
	}

	.h-menu ul {
	    justify-content: space-between;
	}
}